/huhuiyu.codebuilder/.project
/huhuiyu.codebuilder/.gradle
/huhuiyu.codebuilder/.settings
/huhuiyu.codebuilder/bin
/huhuiyu.codebuilder/build
/huhuiyu.codebuilder/logs
/huhuiyu.codebuilder/.classpath
/huhuiyu.codebuilder.template/.project
/huhuiyu.codebuilder.template/.gradle
/huhuiyu.codebuilder.template/.settings
/huhuiyu.codebuilder.template/bin
/huhuiyu.codebuilder.template/build
/huhuiyu.codebuilder.template/logs
/huhuiyu.codebuilder.template/.classpath